#board {
  height:400px;
  width: 400px;
  display: flex;
  flex-direction:column;
}

#button-holder {
  display:flex ;
  justify-content: center;
  align-items: center;
  margin-bottom:20px;
  height:100px;
  width:100%;
  background-color: black;
}

button {
  margin:30px;
  color: grey;
  height: 30px;
  width: 100px;
}

body {
  display: flex;
  background: grey;
  align-items: center;
  flex-direction: column;
  margin:4px ;
}

.grid-item {
  background:white ;
  align-content:stretch ;
  flex-grow:1 ;
  float:left ;
}

.pressed {
  background:black ;
  align-content:stretch ;
  flex-grow:1 ;
  float:left ;
}

.btn-on {
  background:blue ;
  color:white ;
}
