<!DOCTYPE html>

<html>
<head>
  <title></title>
  {% load static %}
  <link type="text/css" rel="stylesheet" href="{% static 'odin-projects/style.css' %}">
</head>
<body>
  <div id="viewport">
    <div id='screen'>Displays book info</div>

    <div id='add-container'>
      <input type='text' id='add-book-title' value='add book name' data-input></input><button class='search-selector' name='Title'>Search By</button>
      <input type='text' id='add-author-name' value='add author name' data-input></input><button class='search-selector' name='Author'>Search By</button>
      <input type='text' id='add-book-pages' value='add book pages' data-input></input><button class='search-selector' name='Pages'>Search By</button>
      <div>
        <p>Have I read before?</p>
        <input type='radio' id ='true' name='radio' value='true'></radio>
        <label for='true'>True</label>
        <input type='radio' id='false' name='radio' value='false'></radio>
        <label for='false'>False</label><br>
        <button class='search-selector' name='HaveRead'>Search By</button>
      </div>
    </div>
    <div id='button-container'>
      <button id='add-button' data-write>add book!</button>
      <button id='search-button' data-search>Search for Book!</button>
    </div>

  </div>
<script src="{% static 'odin-projects/object-constructors.js' %}"></script>
</body>
</html>
