<!DOCTYPE html>
  <html>
    <head>
      <title>A Bunch Of Dicks</title>
      {% load static %}
      <link type="text/css" rel="stylesheet" href="{% static 'odin-projects/tic-tac-toe/style.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
      <div id='header'>Play Tic Tac Toe</div>

      <div id='scoreBoard'></div>
      <div id='buttonPlace'></div>

      <div id='playBoard'></div>



      <script src="{% static 'odin-projects/tic-tac-toe/script.js' %}"></script>
    </body>

  </html>
