<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'calculator/style.css' %}">
  </head>

  <body>
    <div id="header">
      <h1>Calculator Page</h1>
    </div>

    <div id="explain-text">
      <p1>Hello, this project is currently under development, so keep that in mind. But feel free to see what's working and what isn't!! This project was started on January 12th 2021</p1>
    </div>

    <div id="main">
      <div id="calc-contain">
        <div id="calc-body">
          <div id="display">

          </div>

          <div id="buttons">
            <div id="number-buttons">
              <div class="n-button" id="0"></div>
              <div class="n-button" id="1"></div>
              <div class="n-button" id="2"></div>
              <div class="n-button" id="3"></div>
              <div class="n-button" id="4"></div>
              <div class="n-button" id="5"></div>
              <div class="n-button" id="6"></div>
              <div class="n-button" id="7"></div>
              <div class="n-button" id="8"></div>
              <div class="n-button" id="9"></div>
            </div>
            <div id="operand-buttons">
              <div class="o-button" id="equals"></div>
              <div class="o-button" id="plus"></div>
              <div class="o-button" id="minus"></div>
              <div class="o-button" id="multiply"></div>
              <div class="o-button" id="divide"></div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <script>


    </script>

  <body>
</html>
