<!DOCTYPE html>
<html>

<head>
  <title></title>
  {% load static %}
  <link type="text/css" rel="stylesheet" href="{% static 'etchasketch/style.css' %}">
</head>





<body>
<div id="title">
  <h1>Etch A Sketch</h1>
</div>
<!--<div id="text"></div>   Do I really need this??-->
<div id="board"></div>

<script>
  let z = 4;
  for (let i = 0; i < z; i ++){
    const row = document.createElement('div');
    row.style.cssText = 'flex-grow:1 ; display:flex ;';
    board.appendChild(row)

    for (let x = 0; x < z; x ++){
      const gridItem = document.createElement('div');
      gridItem.classList.add("grid-item")
      row.appendChild(gridItem)
    }
  }

  //changes color of grid items
  function drawClick(x) {

    x.target.classList.add("pressed");
  }

  //listening for click or hover
  function listen() {
    items = document.querySelectorAll(".grid-item");
    for (i = 0; i < items.length; i++) {
      items[i].classList.add("found");
      items[i].addEventListener('mousedown', drawClick);
    }
  }

  listen()




</script>


</body>

</html>
