<!DOCTYPE html>
<html>

<head>
  <title></title>
  {% load static %}
  <link type="text/css" rel="stylesheet" href="{% static 'etchasketch/style.css' %}">
</head>





<body>
<div id="title">
  <h1>Etch A Sketch</h1>
</div>
<!--  <div id="text"></div>   Do I really need this??-->
<button id="eraser-btn">Toggle Eraser</button>
<div id="board"></div>

<script>
  let z = 4;
  for (let i = 0; i < z; i ++){
    const row = document.createElement('div');
    row.style.cssText = 'flex-grow:1 ; display:flex ;';
    board.appendChild(row)

    for (let x = 0; x < z; x ++){
      const gridItem = document.createElement('div');
      gridItem.classList.add("grid-item")
      row.appendChild(gridItem)
    }
  }

  //eraser buttons
  let eraser = false;
  const eraserButton = document.querySelector('#eraser-btn');
  eraserButton.addEventListener('click', () => {
    if (eraser) {
      eraser = false;
      eraserButton.classList.remove('btn-on');
    } else {
      eraser = true;
      eraserButton.classList.add('btn-on');
    }
  })

  //changes color of grid items
  function drawClick(x) {
    if (eraser) {
      x.target.classList.remove("pressed");
    } else {
      x.target.classList.add("pressed");
    }
  }

  //listening for click or hover
  function listen() {
    items = document.querySelectorAll(".grid-item");
    for (i = 0; i < items.length; i++) {
      items[i].classList.add("found"); //check to see if the querySelectorAll is finding my grid items
      items[i].addEventListener('mousedown', drawClick);
    }
  }

  listen()




</script>


</body>

</html>
