<!DOCTYPE html>
<html>
  <head>
    <title>The Odin Project Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'theodinproject/style.css' %}">
  </head>

  <body>

    <div id="view">
      <div id="header">
        <h1>The Odin Project Page</h1>
      </div>

      <div id="nav-bar">
        <ul>
          <li><a id="active" href="">Home Page</a></li>
          <li><a href="{% url 'polls:index' %}">Voting Poll App</a></li>
          <li><a href="{% url 'post:index' %}">Blog App</a></li>
          <li><a href="{% url 'theodinproject:index' %}">The Odin Project Files</a></li>
          <li><a href="{% url 'theodinproject:javascript30' %}">Javascript30</a></li>
          <li><a href="{% url 'cssAnimations:index' %}">Various CSS Animations</a></li>
        </ul>
      </div>
    </div>

      <div>


        <!-- Need to make the link noticable, for now the oding project only shows as a link when hovering I want to change this individual link -->
        <p2><a href="https://www.theodinproject.com">The Odin Project</a> is a very informative and free webdesign course that I have been slowly chugging through. And has been the biggest resource in my path of obtaining a webdesign carrer.</p>
        <br>
        <ul id="main-content">
          <li id="content-item"><a href="{% url 'theodinproject:fizzbizz' %}">FizzBuzz</a></li>
          <li id="content-item"><a href="{% url 'theodinproject:rockpaperscissors' %}">Rock Paper Scissors Game</a></li>
          <li id="content-item"><a href="{% url 'theodinproject:DOM' %}">Document Object Model</a></li>
          <li id="content-item"><a href="{% url 'theodinproject:etchASketch' %}">Etch a Sketch</a></li>

        </ul>
      </div>
    </div>
  </body>



</html>
