#view {
  height: 100%;
  width: 100%;
}

#nav-bar {
  display: block;
  height: auto;
  border-radius: 5px;
}

#active {
  background-color: #4CAF50;
  color: white;
  float:right;
  border-right: 0px;
  border-left: 1px;
  border-left-color: black;
  border-left-style: solid;
}

#header {
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-color: black;
  white-space: normal;
  margin:0;
  padding:0;
  display: block;
  float:left;
  background-color: #056823;
  color: white;
  width: 100%;
}

#active:hover {
  background-color: blue;
  color: white;
}

.poll {
  postion:absolute;
  float:left;
  background-color: grey;
  color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 7px;
  border-color: black;
}

.blog {
  postion:absolute;
  float:right;
  background-color: grey;
  color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  border-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  background-color: #07B43B;
  border-width: 0px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  overflow: hidden;
}

li a {
  display: block;
  float: left;
  color: black;
  background-color: grey;
  padding: 8px 16px;
  border-right: 1px;
  border-right-style: solid;
  border-right-color: black;
  text-align: center;
}

li a:hover {
  background-color: blue;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}

div {
  padding: 0.25em
  margin: auto;
}

body {
  background: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png)
}


#poll-question {
  display: block;
  color: black;
  background-color: grey;
  border-right: 1px;
  border-right-style: solid;
  border-right-color: black;
  text-align: center;
  width: 200px;
  border-bottom: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

#poll-question:hover {
  background-color: blue;
  color: white;
  border-bottom: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;

}

#poll-question-ul {
  background-color: white;
  border-width: 0px;
  height: 500px;
  list-style-type: none;
  display: block;
  width: 200px;
}

#poll-question-ul:after {
  float:left;

}

#main-content {
  position: relative;
  margin-top: 20px;
  background-color: grey;
  border-width: 0px;
  border-color: black;
  border-bottom-width: 1px;

}

#content-item {
  display: block;
  float:left;
  border-style: solid;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  width:32%;
  text-align: center;
  height:100px;




}
