<!DOCTYPE html>

<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

  <head>
    <title>Voting Poll Page</title>
  </head>

  <body>

    <div id="view">
      <div id="header">
        <h1>Voting poll app</h1>
      </div>

      <div id="nav-bar">
        <a id="home" class="nav-item" href="{% url 'landPage:index' %}">Home Page</a>
        <a class="nav-item" href="{% url 'theodinproject:index' %}">The Odin Project Files</a>
        <a class="nav-item" href="{% url 'cssAnimations:index' %}">Various CSS Animations</a>
        <!--<a class="nav-item" href="{% url 'theodinproject:javascript30' %}">Javascript30</a>-->
        <a class="nav-item" href="{% url 'polls:index' %}">Voting Poll App</a>
      </div>
    </div>

<!-- ----------------------------------------------------------------------- -->

    <div id="poll-questions">

      {% if latest_question_list %}
        <div id="poll-question-ul">
          {% for question in latest_question_list %}
            <a id ="poll-question" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
          {% endfor %}
        </div>
      {% else %}
        <p>No polls are available.</p>
      {% endif %}

    </div>

  </body>

</html>
